// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@left_gutter: 3em;
@list_item_bgd: lightsteelblue;
@list_selected_bgd: darkblue;
@list_selected_clr: white;

.pkg-groups atom-panel.modal {
  .select-list {
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    ol.list-group li {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  #pkg-groups-lower-panel {
    min-height: 460px;

    .pkg-select-list {
      // background-color: @overlay-background-color;
      min-height: 400px;

      ol.list-group li {
        padding-left: 10px;
      }
    }
  }

  .pick-list-left-list {
    width: 45%;
    float: left;
  }

  .pick-list-right-list {
    width: 45%;
    float: right;
  }

  h2 {
    margin-top: -.4em;
    font-weight: 600;
  }
}
